@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden; /* Убирает прокрутку для всего сайта */
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  background-attachment: fixed; /* Фиксирует фон при прокрутке */
  background-size: cover; /* Фон занимает весь экран */
  background-position: center; /* Центрирует фон */
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operating system prefers reduced motion */
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Помещает видео на задний план */
  overflow: hidden;
}

.backgroundVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Видео занимает весь экран */
}

.content {
  position: relative;
  z-index: 1; /* Помещает содержимое поверх видео */
  overflow-y: auto; /* Включает вертикальную прокрутку для содержимого */
  height: 100vh; /* Ограничивает высоту содержимого */
  display: flex; /* Центрирует содержимое */
  justify-content: center; /* Центрирует содержимое по горизонтали */
  align-items: center; /* Центрирует содержимое по вертикали */
  padding: 20px; /* Добавляет отступы для содержимого */
  box-sizing: border-box; /* Учитывает padding в размерах элемента */
}