.headlineContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2; /* Поверх видео */
}

.bottomNavigation {
  background-color: transparent;
  box-shadow: none;
}

.action:nth-child(1) {
  color: #888; /* Менее темный оттенок серого */
  font-size: 1.2rem;
  font-weight: bold; /* Жирный шрифт */
}

.action:nth-child(2) {
  color: #666; /* Средний оттенок серого */
  font-size: 1.2rem;
  font-weight: bold; /* Жирный шрифт */
}

.action:nth-child(3) {
  color: #444; /* Более темный оттенок серого */
  font-size: 1.2rem;
  font-weight: bold; /* Жирный шрифт */
}

.action.Mui-selected {
  color: #000; /* Темный цвет текста для активного состояния */
}

.action:hover {
  color: #000; /* Темный цвет текста при наведении */
}

.pushButton {
  margin-top: 10px;
  background-color: transparent;
  color: #000; /* Сделано темнее для лучшей видимости */
  font-weight: bold; /* Добавлен жирный шрифт */
}